{% extends "sites/orenza/index.html" %}

{% block content %}
<div class="container">
    <!-- HEADINGS -->
    <div class="block">
        <h1 class="title">Hello World!</h1>
        <h2 class="subtitle">Hello World!</h2>

        <!-- SIZES -->
        <h1 class="title is-1">Hello World!</h1>
        <h2 class="title is-2">Hello World!</h2>
        <h3 class="title is-3">Hello World!</h3>
        <h4 class="title is-4">Hello World!</h4>
        <h5 class="title is-5">Hello World!</h5>
        <h6 class="title is-6">Hello World!</h6>
    </div>

    <!-- CONTENT -->
    <div class="block">
        <p class="content is-small">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        <p class="content is-medium">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        <p class="content is-large">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    </div>

    <!-- BUTTONS -->
    <div class="block">
        <button class="button"></button>
        <button class="button is-white"></button>
        <button class="button is-light"></button>
        <button class="button is-dark"></button>
        <button class="button is-black"></button>
        <button class="button is-link"></button>
    </div>
    <div class="block">
        <a class="button is-primary">Primary</a>
        <a class="button is-info">Info</a>
        <a class="button is-success">Success</a>
        <a class="button is-warning">Warning</a>
        <a class="button is-danger">Danger</a>
    </div>
    <div class="block">
        <a class="button is-small is-primary">Primary</a>
        <a class="button is-medium is-info">Info</a>
        <a class="button is-large is-success">Success</a>
    </div>
    <div class="block">
        <a class="button is-outlined is-primary">Primary</a>
        <a class="button is-outlined is-info">Info</a>
        <a class="button is-outlined is-success">Success</a>
        <a class="button is-outlined is-warning">Warning</a>
        <a class="button is-outlined is-danger">Danger</a>
    </div>
    <div class="block">
        <a class="button is-inverted is-primary">Primary</a>
        <a class="button is-inverted is-info">Info</a>
        <a class="button is-inverted is-success">Success</a>
        <a class="button is-inverted is-warning">Warning</a>
        <a class="button is-inverted is-danger">Danger</a>
    </div>
    <div class="block">
        <a class="button is-hovered">Hovered</a>
        <a class="button is-focused">Focused</a>
        <a class="button is-active">Active</a>
        <a class="button is-loading">Loading</a>
        <a class="button disabled">Disabled</a>
    </div>

    <!-- BOX -->
    <div class="block">
        <div class="box">
            <h1 class="title">Hello World!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id.</p>
        </div>
    </div>

    <!-- NOTIFICATIONS -->
    <div class="block">
        <div class="notification">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id.
        </div>
    </div>
    <div class="block">
        <div class="notification is-primary">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id.
        </div>
    </div>
    <div class="block">
        <div class="notification is-info">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id.
        </div>
    </div>
    <div class="block">
        <div class="notification is-success">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id.
        </div>
    </div>
    <div class="block">
        <div class="notification is-warning">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id.
        </div>
    </div>
    <div class="block">
        <div class="notification is-danger">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id.
        </div>
    </div>

    <!-- TAGS -->
    <div class="block">
        <span class="tag">Hello</span>
        <span class="tag is-black">Black</span>
        <span class="tag is-dark">Dark</span>
        <span class="tag is-light">Light</span>
        <span class="tag is-white">White</span>
        <span class="tag is-primary">Primary</span>
        <span class="tag is-info">Info</span>
        <span class="tag is-success">Success</span>
        <span class="tag is-warning is-medium">Warning</span>
        <span class="tag is-danger is-large">
            Danger
            <button class="delete"></button>
        </span>
    </div>

    <!-- MESSAGES -->
    <div class="block">
        <article class="message">
            <div class="message-header">
                <p>About Us</p>
            </div>
            <div class="message-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem ex, venenatis quis malesuada vitae, egestas sit amet leo. Praesent vestibulum odio quis purus luctus, at porta nunc gravida. Vestibulum.
            </div>
        </article>
        <article class="message is-primary">
            <div class="message-header">
                <p>About Us</p>
            </div>
            <div class="message-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem ex, venenatis quis malesuada vitae, egestas sit amet leo. Praesent vestibulum odio quis purus luctus, at porta nunc gravida. Vestibulum.
            </div>
        </article>
        <article class="message is-success">
            <div class="message-header">
                <p>About Us</p>
            </div>
            <div class="message-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem ex, venenatis quis malesuada vitae, egestas sit amet leo. Praesent vestibulum odio quis purus luctus, at porta nunc gravida. Vestibulum.
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>About Us</p>
            </div>
            <div class="message-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem ex, venenatis quis malesuada vitae, egestas sit amet leo. Praesent vestibulum odio quis purus luctus, at porta nunc gravida. Vestibulum.
            </div>
        </article>
        <article class="message is-warning">
            <div class="message-header">
                <p>About Us</p>
            </div>
            <div class="message-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem ex, venenatis quis malesuada vitae, egestas sit amet leo. Praesent vestibulum odio quis purus luctus, at porta nunc gravida. Vestibulum.
            </div>
        </article>
        <article class="message is-danger">
            <div class="message-header">
                <p>About Us</p>
            </div>
            <div class="message-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem ex, venenatis quis malesuada vitae, egestas sit amet leo. Praesent vestibulum odio quis purus luctus, at porta nunc gravida. Vestibulum.
            </div>
        </article>
    </div>

    <!-- NAVBAR -->
    <div class="block">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="nav-item">
                    <h1 class="title is-4">Flipsie's Bulma CheatSheet!</h1>
                </a>
            </div>
            <div class="navbar-menu navbar-end">
                <a class="navbar-item">
                    <span class="icon">
                        <i class="fa fa-github"></i>
                    </span>
                </a>
                <a class="navbar-item">
                    <span class="icon">
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
            </div>
            <div class="navbar-menu navbar-end">
                <a class="navbar-item">Home</a>
                <a class="navbar-item">About Us</a>
                <a class="navbar-item">Contact</a>
            </div>
        </nav>
    </div>

    <!-- SIDE MENU -->
    <div class="block">
        <aside class="menu">
            <p class="menu-label">Label 1</p>
            <ul class="menu-list">
                <li><a>Link 1</a></li>
                <li><a>Link 1</a></li>
            </ul>
            <p class="menu-label">Label 2</p>
            <ul class="menu-list">
                <li><a class="is-active">Link 1</a>
                    <ul>
                        <li><a>Link 2</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
    </div>

    <!-- HERO -->
    <div class="block">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hero Title</h1>
                    <h2 class="subtitle">Hero Subitle</h1>
                </div>
            </div>
        </section>
        <section class="hero is-success">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hero Title</h1>
                    <h2 class="subtitle">Hero Subitle</h1>
                </div>
            </div>
        </section>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hero Title</h1>
                    <h2 class="subtitle">Hero Subitle</h1>
                </div>
            </div>
        </section>
        <section class="hero is-warning">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hero Title</h1>
                    <h2 class="subtitle">Hero Subitle</h1>
                </div>
            </div>
        </section>
        <section class="hero is-danger">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hero Title</h1>
                    <h2 class="subtitle">Hero Subitle</h1>
                </div>
            </div>
        </section>
    </div>

    <!-- CARD -->
    <div class="block">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    Neque porro quisquam est qui dolorem ipsum, adipisci velit...
                </p>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <span><a><i class="fa fa-twitter"></i>Twitter</a></span>
                </p>
                <p class="card-footer-item">
                    <span><a><i class="fa fa-facebook"></i>Facebook</a></span>
                </p>
            </footer>
        </div>
    </div>

    <!-- PAGINATION -->
    <div class="block">
        <nav class="pagination">
            <a class="pagination-previous"  disabled>Previous</a>
            <a class="pagination-next">Next</a>
            <ul class="pagination-list">
                <li>
                    <a class="pagination-link is-current">1</a>
                </li>
                <li>
                    <a class="pagination-link">2</a>
                </li>
                <li>
                    <a class="pagination-link">3</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- LEVEL -->
    <div class="block">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <p class="level-item"><a><strong>All</strong></a></p>
                <p class="level-item"><a>Published</a></p>
                <p class="level-item"><a>Draft</a></p>
                <p class="level-item"><a>Deleted</a></p>
                <p class="level-item"><a class="button is-primary">New</a></p>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" placeholder="Search...">
                        </p>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- FORMS -->
    <div class="block">
        <form action="">
            <div class="field">
                <label class="label">Name</label>
                <input class="input" type="text" placeholder="Enter Name">
            </div>
            <div class="field">
                <label class="label">Name</label>
                <input class="input is-success" type="text" placeholder="Enter Name">
            </div>
            <div class="field">
                <label class="label">Name</label>
                <input class="input is-danger" type="text" placeholder="Enter Name">
            </div>
            <div class="field">
                <label class="label">Package</label>
                <p class="control">
                    <span class="select">
                        <select>
                            <option>Select dropdown</option>
                            <option>Simple</option>
                            <option>Standard</option>
                            <option>Super</option>
                        </select>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">Package</label>
                <p class="control">
                    <textarea class="textarea"cols="30" rows="10" placeholder="Text Area"></textarea>
                </p>
            </div>
            <div class="block">
                <div class="field has-addons">
                    <p class="control"><input class="input" placeholder="Enter keywords.."></p>
                    <p class="control"><button class="button is-info">Search</p>
                </div>
            </div>
            <div class="block">
                <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                            <select>
                                <option>$</option>
                                <option>€</option>
                                <option>¥</option>
                            </select>
                        </span>
                    </p>
                    <p class="control">
                        <input class="input" type="text" placeholder="Enter Amount">
                    </p>
                    <p class="control"><button class="button is-info">Pay</p>
                </div>
            </div>
        </form>
    </div>

    <!-- TABLES -->
    <div class="block">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr class="is-selected">
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
            </tbody>
        </table>
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
            </tbody>
        </table>
        <table class="table is-bordered">
            <thead>
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
            </tbody>
        </table>
        <table class="table is-narrow">
            <thead>
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
                <tr>
                    <td>john orenza</td>
                    <td>johnorenza@gmail.com</td>
                    <td>123-456-7890</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- GRID SYSTEM -->
    <div class="block">
        <div class="columns">
            <div class="column"><p class="notification">First Column</p></div>
            <div class="column"><p class="notification">Second Column</p></div>
            <div class="column"><p class="notification">Third Column</p></div>
            <div class="column"><p class="notification">Fourth Column</p></div>
        </div>
    </div>
    <div class="block">
        <div class="columns">
            <div class="column is-2"><p class="notification">Two Column</p></div>
            <div class="column is-8"><p class="notification">Eight Column</p></div>
            <div class="column is-2"><p class="notification">Two Column</p></div>
        </div>
    </div>
    <div class="block">
        <div class="columns">
            <div class="column is-three-quarters"><p class="notification">is-three-quarters</p></div>
            <div class="column"><p class="notification">Auto</p></div>
            <div class="column"><p class="notification">Auto</p></div>
        </div>
    </div>
    <div class="block">
        <div class="columns">
            <div class="column is-two-thirds"><p class="notification">is-two-thirds</p></div>
            <div class="column"><p class="notification">Auto</p></div>
            <div class="column"><p class="notification">Auto</p></div>
        </div>
    </div>
    <div class="block">
        <div class="columns">
            <div class="column is-half"><p class="notification">is-half</p></div>
            <div class="column"><p class="notification">Auto</p></div>
            <div class="column"><p class="notification">Auto</p></div>
        </div>
    </div>
</div>
<div style="margin-top:500px"></div>
{% endblock %}
